# python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# private_settings
pricetrack/config/secret_settings.py
celery/secret_setting.py

# swagger
swagger/api/swagger.json

#database
mongodb/.env
mongodb/commands.js
mongodb/data/
