aiohttp
asyncio

# server
gunicorn

# CORS
aiohttp_cors

# data validation
cerberus

# mongodb
motor

# JWT token authorization
PyJWT

# password hashing
bcrypt

# async tasks
celery

#async requests
requests
